---
title: Cincinnati Day of Agile - Home 
filter: erb
---

<div id="content">

  <%= render :partial => "over" %>
    
  <div id="right">

    <%#= render :partial => "soldout" %>
    <%#= render :partial => "event_bright" %>
    <%#= render :partial => "location" %>

    <a href="http://twitter.com/cincyagilecon" target="_blank"><img src="images/twitter.png" alt="twitter" style="border: none;" /></a>
    <a href="http://groups.google.com/group/cincyagilecon" style="color: #6b6a70;"><h4>Discussion Group</h4></a>
    
    <%= render :partial => "sponsors" %>
  </div> 

  <div id="left">
    <%= render :partial => "whatiscdoa" %>

   <%#
    <h3>Open for Proposals</h3>
    <p>This years content will be chosen from the best submissions we receive.</p>
    <p>Please download the <a href="presentations/CincyDayOfAgile2011-ProposalTemplate.xlsx">form</a>, fill it in and send to <a href="mailto:speakers@dayofagile.org">speakers@dayofagile.org</a>.</p>
    %>
    
    <%= render :partial => "schedule" %>

  </div>
</div>
